
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.resumelink {
	font-size: 12px;
	font-style: italic;
}

.flaticon, .flaticon a {
	font-size: 8px;
	font-style: italic;
	color: lightgray;
}

.wrap {
	margin: auto;
	padding: 0 20px;
	max-width: 865px;
	min-width: 300px;
}

.top img {
	border-radius: 50%;
	margin: 20px 0 0;
	padding: 0 20px 0;
	height: 150px;
	width: 150px;
}

.contact img {
	border-radius: 0;
	margin: 0 0 0 10px;
	padding: 0;
	height: 25px;
	width: 25px;
}

.top .left {
	width: 190px;
	margin: auto;
}

ul {
	margin: 10px 20px;
}

.top .right ul {
	margin: 0;
}

.top .title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

.top .col-list {
	display: block;
}

.top .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top .item {
	padding: 10px;
}

.bottom .item {
	padding: 10px;
	border-top: 1px solid rgba(55, 53, 47, 0.09);
}

li {
	font-size: 16px;
}

.bottom .right li {
	text-align: left;
	list-style: disc;
}

.bottom .right .item .content {
    margin-top: 7px;
}

.top p {
	font-size: 18px;
}

.bottom p {
	font-size: 14px;
	font-style: italic;
}

.bottom .left .content, .flex-box {
	display: flex;
	flex-wrap: wrap;

}

.flex-box .item {
	flex-grow: 1;
}

.flex-item {
	flex-grow: 1;
	margin: 0 10px;
}

@media screen and (min-width: 862px), print {

	.bottom .left .content, .flex-box {
		display: block;
	}

	.top .col-list {
		display: flex;
	}

	.bottom .item {
		text-align: left;
	}

	.bottom .col-list {
		display: flex;
		flex-direction: row-reverse;
	}

	.left {
		width: 25%;
		min-width: 185.75px;
	}

	.right {
		width: 75%;
	}

	img {
		padding: 0;
	}

	.bottom .middle {
		/* margin: 30px 0 30px; */
		border-left: 1px solid rgba(55, 53, 47, 0.09);
	}
}