
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrap {
	margin: auto;
	padding: 0 20px;
	max-width: 960px;
	min-width: 600px;
}

.top img {
	border-radius: 50%;
	margin: 20px 0 0;
	padding: 0 20px 0;
	height: 150px;
	width: 150px;
}

.top .left {
	width: 190px;
	margin: auto;
}

ul {
	margin: 10px 20px;
}

.top .title {
	display: flex;
	align-items: baseline;
}

h2 {
	font-size: 16px;
}

.top .col-list {
	display: block;
}

.top .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top .item {
	padding: 0 10px;
}

.bottom .item {
	padding: 10px;
	text-align: center;
	border-top: 1px solid rgba(55, 53, 47, 0.09);
}

.right li {
	text-align: left;
	list-style: disc;
}

.top p {
	font-size: 20px;
}

.bottom p {
	font-size: 14px;
	font-style: italic;
}

.content {
	margin: 10px 0 0 0;
}

.bottom .left .content, .flex-box {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px), print {
	.bottom .left .content, .flex-box {
		display: block;
	}

	.top .col-list {
		display: flex;
	}

	.bottom .item {
		text-align: left;
	}

	.bottom .col-list {
		display: flex;
		flex-direction: row-reverse;
	}

	.left {
		width: 25%;
	}

	.right {
		width: 75%;
	}

	img {
		padding: 0;
	}

	.bottom .middle {
		margin: 30px 0 30px;
		border-left: 1px solid rgba(55, 53, 47, 0.09);
	}
}